<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Formulario de Contacto</h1>
        <p>Por favor, rellena el siguiente formulario:</p>
        <form id="contacto" action="/guardar" method="POST">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellido">Apellidos:</label><br>
            <input type="text" id="apellido" name="apellido" required>

            <label for="direccion">Dirección:</label><br>
            <input type="text" id="direccion" name="direccion" required>

            <label for="telefono">Teléfono:</label><br>
            <input type="text" id="telefono" name="telefono" required>

            <label for="correo_electronico">Correo Electrónico:</label><br>
            <input type="email" id="correo_electronico" name="correo_electronico" required>

            <label for="mensaje">Mensaje:</label><br>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>